<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhoneBook | Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body class ="bg-light">

      <nav class="navbar bg-dark navbar-dark">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Phonebook</span>
        </div>
      </nav>

      <div class="container">
        <!-- Flash Messages here -->
        {% include 'alerts.html' %}
        {% block content %}
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Welcome!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/directory" class ="btn btn-primary w-100">Click here to Register Phone Numbers</a>
            </div>
        </div>
    </div>

    <section class="d-flex justify-content-center p-2 bd-highlight ">             
        <div class="card mt-5 mr-2" style="width: 18rem;">
            <img src="    https://images.unsplash.com/photo-1513321383621-cbadb449670f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="Letters, envelopes and card on table.">
            <div class="card-body">
                <h5 class="card-title">Send a card</h5>
                <p class="card-text">Its Holiday Season! Send a personalised card to your special ones! </p>
                <a href="https://www.funkypigeon.com/personalised-cards.aspx" class="btn background-color-blue">Send it now!</a>
            </div>      
        </div> 
               
        </section> 



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>